[submodule "cc-admin-client"]
	path = cc-admin-client
	url = git@github.com:FizzyPopp/ChefCapp-Admin-Client.git
	branch = liam
[submodule "cc-landing"]
	path = cc-landing
	url = git@github.com:marycc001/Chef-Capp-Landing.git
	branch = master
