[submodule "cc-admin-client"]
	path = cc-admin-client
	url = git@github.com:FizzyPopp/ChefCapp-Admin-Client.git
	branch = arda
[submodule "public/landing"]
	path = public/landing
	url = git@github.com:marycc001/Chef-Capp-Landing.git
