rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /communicationes/mailingList {
      allow read: if request.auth != null;
      // allow update: if request.auth;
      // allow create: if ;
    }
    match /recipe/{document=**} {
      allow read: if request.auth.uid != null;
    }
    match /ingredient/{document=**} {
      allow read: if request.auth.uid != null;
    }
    match /step/{document=**} {
      allow read: if request.auth.uid != null;
    }
    match /user/{userId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }
  }
}
